// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: asset_url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
}

.logo {
  width: 500px;
}

#logo {
  text-align: center;
}

.create {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card {
  height: 200px;
  border: transparent;
  background-color: transparent;
  padding: 20px;
  color: white;
  image_tag {
    height: 200px;
    border-radius: 5px;
  }
}

li {
  font-weight: 20px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
}

#creation {
  width: 300px;
  margin: 100px auto;
}
 .form-actions {
 }

.center {
  margin: 0 auto;

}

#form-inputs {
  color: white;
  font-weight: 35px;
  font-weight: bolder;
}

#delete {
  background-color: red;
  border-radius: 5px;
  color: white;
}
